body{
    font-family: Tahoma, sans-serif;
    background-color: rgb(239, 243, 243);
    max-width: 100%;

}
#corpo{
    width: 1365px;
    max-width: 100%;
}
span{
    color: dodgerblue;
    font-size: 20pt;
}
div a img#perfil{
    background-color: darkgrey;
    border-radius: 40px;
}
li{
    border-bottom: 1px solid #dddddd;
    padding: 10px 0px 10px 0px;
    height: 50px;
}
li a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
}
#a{
    width: 200px;
    float: right;
    max-width: 100%;
    margin: 40px 160px 0px 0px;
    
}
#net{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.content{
    padding: 15px;
    box-shadow: 0px 1px 2px black;
    background-color: #dddddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 100%;
}
.divSelects{
    display: flex;
    gap: 20px;
    max-width: 100%;
}
select{
    width: 50%;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    border-color: rgb(124, 124, 124);
    border-radius: 5px;
    max-width: 100%;
}
.divTextareas{
    display: flex;
    gap: 20px;
    border-radius: 5px;
    max-width: 100%;
}
textarea{
    outline: none;
    padding: 5px;
    font-size: 18px;
    width: 50%;
    border-radius: 5px;
    resize: none;
    width: 500px;
}
.divArticule{
    display: flex;
    gap: 20px;
    border-radius: 5px;
    max-width: 100%;
}
article{
    padding: 5px;
    margin-left: 0px;
    width: 50%;
    max-width: 100%;
}
article img{
    margin: 0px 10px 0px 10px;
}